<!-- <form id="form-{{song.id}}" class="edit-song-form"> -->
  <div class="col-xs-5" id="title-{{song.id}}">{{song.title}}</div>
  <div class="col-xs-4" id="artist-{{song.id}}">{{song.artist}}</div>
  <div class="col-xs-3" id="button-box-{{song.id}}">
    <button class="edit-button" id="button-{{song.id}}" data-song-id={{song.id}}>
      Edit Song
    </button>
    <button class="delete-button" id="delete-button-{{song.id}}" data-song-id={{song.id}}>
      Delete Song
    </button>
    <!-- <input type="hidden" name="song[id]" value="{{song.id}}"> -->
  </div>
